
.jumbotron{
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0px;
  top: 0; 
  position: fixed; 
  left: 0;
  right: 0;
  width: 100%; 
  z-index: 99;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #2A77AE;
  margin-bottom: 50px;
}

a, a:hover{
  color: whitesmoke;
}

.navbar {
  background: rgb(23, 8, 238);
  min-height: 60px;
  width: 100%;
  z-index: 99;
  border: solid 3px darkgray;
}

.navbar li {
 display: inline-block;
 padding: 15px 0 15px 0; 
  width: 33.3%;  
 text-align: center;
 margin: auto;
 color: white;
}

ul{
  width: 100%;
}

#directtions, header {
  text-align: center;
  min-height: 150px;
}

#title-heading{
  width: 100%;
}

@media screen and (max-width:980px){
  #directtions, header {
    text-align: center;
    min-height: 150px;
  }
}
@media screen and (max-width:768px){
  #directtions, header {
    text-align: center;
    min-height: 250px;
  }
}

@media screen and (max-width:640px){
  #directtions, header {
    text-align: center;
    min-height: 300px;
  }
}
    
